node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
src/core/config.js
config.js
src/core/**/*

# macOS
.DS_Store
yarn.lock
.expo-shared
src/core/config.js

# android and ios build files
ios/
android/

